<h3>Enter a username and password</h3>
<form accept-charset="UTF-8" action="/sessions" class="new_session" id="new_session" method="post">
  <div class="field">
    <label for="user_username">Username</label>
    <br>
    <input id="user_username" name="user[username]">
  </div>
  
  <div class="field">
    <label for="user_password">Password</label>
    <br>
    <input id="user_password" name="user[password]" type="password">
  </div>
  
  <div class="actions">
    <input name="commit" type="submit" value="Login">
  </div>
</form>